[Unit]
Description=Creates Helium block chain snapshot and uploads to staging GCS
Wants=snapshot-stage.timer

[Service]
Environment="PYTHONPATH=/home/snapshot/hm-block-tracker/snapshotter/"
Type=oneshot
User=snapshot
Group=snapshot
ExecStart=/home/snapshot/hm-block-tracker/snapshotter/create_snapshot.sh

[Install]
WantedBy=multi-user.target
